body {
  background-color: lightblue;
}
<h1>Salve Regina</h1>
<p>Salve, Regina, Mater misericordiae
Vita, dulcedo, et spes nostra, salve
Ad te clamamus, exsules filii Hevae
Ad te suspiramus, gementes et flentes
In hac lacrimarum valle</p>

<p>Eia, ergo, advocata nostra, illos tuos
Misericordes oculos ad nos converte
Et Jesum, benedictum fructum ventris tui
Nobis post hoc exilium ostende</p>

<p>O clemens</p>
<p>O pia</p>
<p>O dulcis Virgo Maria</p>

<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zeyJ1rpaPr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
